<h1>Profile Page</h1>
{{#if username}}
    <p>{{username}}</p>
    <img src="" alt="">
{{/if}}

<iframe src="https://giphy.com/embed/12HZukMBlutpoQ" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/funny-cat-12HZukMBlutpoQ">via GIPHY</a></p>